.anchor{
    -fx-background-image: url("../images/beginscherm10.png");
    -fx-background-size: 1280px 720px;
}

.buttonStyle{
    -fx-border: none;
    -fx-text-decoration: none;
    -fx-background-image: url("../images/button.png");
    -fx-background-size: 200px 30px;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
    -fx-text-fill: white;
}
